<section class="x-p-[16px] md:x-p-[50px] x-bg-[#F5F9F1]">
    <div class="x-flex x-flex-col x-gap-[16px] md:x-gap-[50px]">
        <div class="x-flex x-flex-col md:x-flex-row x-gap-[16px] md:x-gap-[50px]">
            {% comment %} <div class="md:x-w-1/2 x-relative x-overflow-hidden x-h-[630px] x-w-full">
                <div class="rellax x-absolute x-inset-0 x-w-full x-h-[130%] x-bg-cover x-bg-center"
                    data-rellax-speed="-5" data-rellax-percentage="0.5" data-rellax-mobile-speed="-2"
                    style="background-image: url({{ 'founder_pholder.png' | asset_url }});">
                    &nbsp;
                </div>
            </div> {% endcomment %}
            <div
                class="x-p-[16px] x-w-full x-py-[26px] x-pt-[32px] md:x-p-[50px] md:x-flex md:x-items-center md:x-justify-center x-bg-white">
                <div class="md:x-w-1/4 x-flex x-flex-col x-gap-[12px] md:x-gap-[16px] x-text-[14px]">
                    <div class="x-text-[26px] x-leading-[28px] md:x-text-[30px]">CONTACT US</div>
                    <div>
                        We'd love to hear from you! 
                        Whether you have questions 
                        about your order or want to share
                        feedback, don't hesitate to reach out.
                        Email us at info@officialchloee.com.
                    </div>
                    <div>
                        <div>Monday - Friday</div>
                        <div>8am - 5pm, PT</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    //prince code
    // $(document).ready(function () {
    //   applyParallax();
    // });

    // $(window).on('scroll', function () {
    //   applyParallax();
    // });

    // function applyParallax() {
    //   $('.parallax-contact').each(function () {
    //     const speed = 0.15; // Adjust the speed for the desired parallax effect
    //     const initialOffset = 0; // Offset to move the image down initially
    //     const sectionTop = $(this).parent().offset().top; // Get the top position of the parent element relative to the document
    //     const scrollPosition = $(window).scrollTop();
    //     const windowHeight = $(window).height();
    //     const sectionHeight = $(this).parent().outerHeight();

    //     // Check if the section is in the viewport
    //     if (scrollPosition + windowHeight > sectionTop && scrollPosition < sectionTop + sectionHeight) {
    //       const yPos = (scrollPosition - sectionTop) * speed + initialOffset; // Apply the initial offset
    //       $(this).css('transform', `translateY(${yPos}px)`);
    //     }
    //   });
    // }
</script>