<section>
    <div class="x-p-[16px] x-py-[36px] x-flex x-flex-col md:x-flex-row md:x-p-[50px] md:x-py-[75px] x-gap-[54px]">
        <div class="x-flex x-flex-col x-gap-[8px] md:x-flex-1">
            <div class="x-pb-[10px] x-text-[16px]">SOCIAL</div>
            <div class="x-text-[14px]">Stay current with updates from our social channels.</div>
            <div class="x-flex x-flex-row x-gap-[16px]">
                <a href="#" class="x-w-[20px] x-h-[20px]">
                    {% render 'instagram-logo' %}
                </a>
                <a href="#" class="x-w-[20px] x-h-[20px]">
                    {% render 'tiktok-logo'%}
                </a>
                <a href="#" class="x-w-[20px] x-h-[20px]">
                    {% render 'pinterest-logo'%}
                </a>
            </div>
        </div>
        <div class="x-flex x-flex-col x-gap-[8px] md:x-flex-1">
            <div class="x-pb-[10px] x-text-[16px]">INFORMATION</div>
            <div>
                <a href="#" class="x-text-[14px] x-underline">Shipping & Returns</a> | <a href="#"
                    class="x-text-[14px] x-underline">FAQs</a>
            </div>
        </div>
        <div class="x-flex x-flex-col x-gap-[8px]">
            <div class="x-pb-[10px] x-text-[16px]">OUR COMPANY</div>
            <div>
                <a href="/pages/privacy-page" class="x-text-[14px] x-underline">Privacy Policy</a> | 
                <a href="/pages/terms-of-service" class="x-text-[14px] x-underline">Terms of Service</a> | 
                <a href="/pages/contact-us" class="x-text-[14px] x-underline">Contact Us</a>
            </div>
            <div class="x-text-[14px]">
                ©2024 Mango People. All Rights Reserved.
            </div>
        </div>
    </div>
</section>