<section>
    <div class="x-py-[36px] x-font-myriad-pro">
        <div class="x-px-[16px] x-mb-[40px]">
            <p data-aos="fade-up" data-aos-duration="1000" data-aos-once="true"
                class="x-text-[14px] md:x-text-[18px] x-tracking-[2px] md:x-tracking-[3px] x-leading-[19.6px] md:x-leading-[21.6px] x-text-center x-pb-[10px] md:x-pb-[16px]">
                ULTRA-NOURISHING</p>
            <h1 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200" data-aos-once="true"
                class="x-text-[32px] md:x-text-[40px] lg:x-text-[52px] x-leading-[38.4px] md:x-leading-[48px] lg:x-leading-[52px] x-text-center x-font-amandine x-font-light">
                Skin-Loving Ingredients</h1>
        </div>

        <div class="swiper x-flex x-relative">
            <div class="swiper-wrapper x-flex x-flex-row">
                <div class="swiper-slide x-min-w-1/5">
                    <div>
                        <div class="x-aspect-square x-bg-red-700 x-bg-cover x-bg-center"
                            style="background-image: url('https://placehold.co/600x400');">
                        </div>
                        <div class="x-mt-[20px]">
                            <h1 data-aos="fade-up" data-aos-duration="1000" data-aos-once="true"
                                class="x-text-[20px] md:x-text-[26px] lg:x-text-[34px] x-leading-[24px] md:x-leading-[28.6px] lg:x-leading-[35.7px] x-text-center x-font-amandine x-font-light">
                                SUN DAMAGE REPAIR
                            </h1>
                            <p data-aos="fade-up" data-aos-duration="1000" data-aos-once="true"
                                class="x-my-[10px] x-text-[14px] md:x-text-[16px] lg:x-text-[18px] x-leading-[16.8px] md:x-leading-[19.2px] lg:x-leading-[21.6px] x-text-center">
                                Deep Hydration + Powerful Repair
                            </p>
                            <p data-aos="fade-up" data-aos-duration="1000" data-aos-once="true"
                                class="x-my-[10px] x-text-[12px] md:x-text-[14px] lg:x-text-[16px] x-leading-[16.8px] md:x-leading-[19.2px] lg:x-leading-[21.6px] x-text-center">
                                Organic Macadamia Integrifolia (Macadamia) nut oil*, Organic Simmondsia Chinensis (Jojoba) Seed Oil*, Organic Helianthus Annus (Sunflower) Seed oil*, Squalene, Mauritia Flexuosa (Buriti) Fruit Oil*, Organic Calophyllum Inophyllum (Tamanu) Seed Oil*, Sambucus Nigra (Elderberry) Fruit Extract, Sunflower Lecithin, Alpha-bisabolol, Tocopherol (Vitamin E Natural), Lavandula Angustifolia (Lavender) Oil
                            </p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide x-min-w-1/5">
                    <div>
                        <div class="x-aspect-square x-bg-red-700 x-bg-cover x-bg-center"
                            style="background-image: url('https://placehold.co/600x400');">
                        </div>
                        <div class="x-mt-[20px]">
                            <h1 data-aos="fade-up" data-aos-duration="1000" data-aos-once="true"
                                class="x-text-[20px] md:x-text-[26px] lg:x-text-[34px] x-leading-[24px] md:x-leading-[28.6px] lg:x-leading-[35.7px] x-text-center x-font-amandine x-font-light">
                                JOJOBA GLOW FACE OIL
                            </h1>
                            <p data-aos="fade-up" data-aos-duration="1000" data-aos-once="true"
                                class="x-my-[10px] x-text-[12px] md:x-text-[14px] lg:x-text-[16px] x-leading-[16.8px] md:x-leading-[19.2px] lg:x-leading-[21.6px] x-text-center">
                                Organic Simmondsia Chinensis (Jojoba) Seed Oil*, Organic Helianthus Annus (Sunflower) Seed oil*, Caprylic/Capric Triglyceride (†Coconut)* Organic Vinifera (Grape) Seed Oil*, Organic Camellia Japonica Seed Oil, Hippophae Rhamnoides (Sea Buckhorn) Fruit oil*, Sambucus nigra Fruit Extract, Geranium Maculatum (Geranium) Flower Oil, Alpha bisabolol, Tocopherol (Vitamin E Natural) 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide x-min-w-1/5">
                <div>
                    <div class="x-aspect-square x-bg-red-700 x-bg-cover x-bg-center"
                        style="background-image: url('https://placehold.co/600x400');">
                    </div>
                    <div class="x-mt-[20px]">
                        <h1 data-aos="fade-up" data-aos-duration="1000" data-aos-once="true"
                            class="x-text-[20px] md:x-text-[26px] lg:x-text-[34px] x-leading-[24px] md:x-leading-[28.6px] lg:x-leading-[35.7px] x-text-center x-font-amandine x-font-light">
                            KAKADU PLUM VITAMIN C
                        </h1>
                        <p data-aos="fade-up" data-aos-duration="1000" data-aos-once="true"
                            class="x-my-[10px] x-text-[12px] md:x-text-[14px] lg:x-text-[16px] x-leading-[16.8px] md:x-leading-[19.2px] lg:x-leading-[21.6px] x-text-center">
                            Organic Simmondsia Chinensis (Jojoba) Seed Oil*, Organic Helianthus Annus (Sunflower) Seed oil*, Organic Vinifera (Grape) Seed Oil*, Caprylic/capric Triglyceride, Squalene, Terminalia Ferdinandiana Fruit Extract/KAKADU PLUM*, Hippophae Rhamnoides (Sea Buckhorn) Fruit oil*, Sambucus nigra Fruit Extract, Sunflower Lecithin Alpha-bisabolol, Tocopherol (Vitamin E Natural), Non-GMO Silica (Algae)
                        </p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide x-min-w-1/5">
            <div>
                <div class="x-aspect-square x-bg-red-700 x-bg-cover x-bg-center"
                    style="background-image: url('https://placehold.co/600x400');">
                </div>
                <div class="x-mt-[20px]">
                    <h1 data-aos="fade-up" data-aos-duration="1000" data-aos-once="true"
                        class="x-text-[20px] md:x-text-[26px] lg:x-text-[34px] x-leading-[24px] md:x-leading-[28.6px] lg:x-leading-[35.7px] x-text-center x-font-amandine x-font-light">
                        CAMELLIA SEED CLEANSING OIL
                    </h1>
                    <p data-aos="fade-up" data-aos-duration="1000" data-aos-once="true"
                        class="x-my-[10px] x-text-[12px] md:x-text-[14px] lg:x-text-[16px] x-leading-[16.8px] md:x-leading-[19.2px] lg:x-leading-[21.6px] x-text-center">
                        Organic Simmondsia Chinensis (Jojoba) Seed Oil*, Organic Helianthus Annuus (Sunflower) Seed Oil, Caprylic/Capric Triglyceride (coconut), Organic Vinifera (Grape) Seed Oil, Organic Camellia Japonica Seed Oil, Organic Ricinus Communis (Castor) Seed Oil, Cananga Odorata (Ylang Ylang) Flower Oil, Boswellia Serrata (Frankincense) Indian Frankincense extract, Sambucus Nigra (Elderberry) Fruit Extract, Organic Geranium Maculatum (Geranium) Oil, Sunflower Lecithin, Tocopherol (Vitamin E Natural)
                    </p>
                </div>
            </div>
        </div>
            </div>
            <div class="x-h-full x-absolute x-z-10 x-left-[4px] x-flex x-items-center">
                <div
                    class="swiper-button custom-button-prev x-rounded-full x-bg-[#ffffff80] x-p-[4px] x-border-[#434341] x-border-[1px]">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-arrow-left">
                        <path d="m12 19-7-7 7-7" />
                        <path d="M19 12H5" />
                    </svg>
                </div>
            </div>
            <div class="x-h-full x-absolute x-z-10 x-right-[4px] x-flex x-items-center">
                <div
                    class="swiper-button custom-button-next x-rounded-full x-bg-[#ffffff80] x-p-[4px] x-border-[#434341] x-border-[1px]">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-arrow-right">
                        <path d="M5 12h14" />
                        <path d="m12 5 7 7-7 7" />
                    </svg>
                </div>
            </div>
        </div>
    </div>

    <script>
        const swiper = new Swiper('.swiper', {
            direction: 'horizontal',
            slidesPerView: 'auto',  // Adjusts based on screen size
            spaceBetween: 10,       // Space between slides
            breakpoints: {
                768: {
                    slidesPerView: 4, // Desktop: Show 4 slides
                    spaceBetween: 20,
                },
                320: {
                    slidesPerView: 1.2, // Mobile: Scroll-like view
                    spaceBetween: 10,
                },
            },
            navigation: {
                nextEl: '.custom-button-next',
                prevEl: '.custom-button-prev',
            },
        });
    </script>

    <style>
        .swiper-button {
            cursor: pointer;
            transition: opacity 0.5s;
        }

        .swiper-button-disabled {
            opacity: 0;
        }
    </style>
</section>
