{% if template == 'page.our-story' %}
    {%  assign color = 'white' %}
{% elsif template == 'page.ingredients' %}
    {%  assign color = 'white' %}
{% elsif template == 'page.sustainability' %}
    {%  assign color = 'white' %}
{% else %}
    {%  assign color = 'black' %}
{% endif %}

<section class="footer-wrapper x-border-t-[1px]">
    <div
        class="x-p-[16px] x-flex x-flex-col x-gap-[56px] x-py-[36px] md:x-p-[50px] md:x-py-[75px] lg:x-max-w-[1440px] lg:x-mx-auto x-font-myriad-pro">
        {% comment %} <div class="logo-container x-w-[200px] md:x-w-[160px]">
            {% render "main-logo" %}
        </div> {% endcomment %}
        <div class="x-flex x-flex-col md:x-flex-row x-gap-[54px]">
            <div class="x-flex x-flex-col x-gap-[8px] md:x-flex-1">
                <div class="x-pb-[10px] x-text-[16px]">SOCIAL</div>
                <div class="x-text-[14px]">Stay current with updates from our social channels.</div>
                <div class="x-flex x-flex-row x-gap-[16px]">
                    <a href="#" class="x-w-[20px] x-h-[20px]">
                        {% render 'facebook-logo', hex_color: color %}
                    </a>
                    <a href="#" class="x-w-[20px] x-h-[20px]">
                        {% render 'instagram-logo', hex_color: color %}
                    </a>
                </div>
            </div>
            <div class="x-flex x-flex-col x-gap-[8px] md:x-flex-1">
                <div class="x-pb-[10px] x-text-[16px]">INFORMATION</div>
                <div>
                    <a href="/pages/shipping-faqs" class="x-text-[14px] x-underline">Shipping & Returns</a> |
                    <a href="/pages/shipping-faqs" class="x-text-[14px] x-underline">FAQs</a>
                </div>
            </div>
            <div class="x-flex x-flex-col x-gap-[8px]">
                <div class="x-pb-[10px] x-text-[16px]">OUR COMPANY</div>
                <div>
                    <a href="/pages/privacy-page" class="x-text-[14px] x-underline">Privacy Policy</a> |
                    <a href="/pages/terms-of-service" class="x-text-[14px] x-underline">Terms of Service</a> |
                    <a href="/pages/contact" class="x-text-[14px] x-underline">Contact Us</a>
                </div>
                <div class="x-text-[14px]">©2024 Official Chloee. All Rights Reserved.</div>
            </div>
        </div>
    </div>
</section>