<div
  class="x-bg-[#6C7D4A] x-text-white x-w-full x-h-96 x-flex x-justify-center x-items-center x-text-[24px] md:x-text-[48px]" style="font-family: contralto-big, sans-serif"
>
    SKIN CARE FOR MINDFUL BEING
</div>
