<div
  class="x-bg-[#6C7D4A] x-text-white x-w-full x-h-96 x-flex x-justify-center x-items-center x-text-[24px] md:x-text-[56px] x-font-myriad-pro x-font-light"
>
    SKIN CARE FOR MINDFUL BEING
</div>
