<div class="featured-product-section">
  <div
    class="x-w-full x-h-90 x-bg-[#F5F9F1] x-flex x-flex-col x-justify-center x-items-start x-px-[16px] x-h-[180px] x-gap-[16px] md:x-flex-row md:x-justify-between md:x-items-center md:x-px-[50px] x-font-myriad-pro"
  >
    <div class="x-text-black x-flex x-flex-col x-gap-4">
      <div
        class="x-text-[32px] x-leading-10 translate-up-20"
        data-aos="fade-up"
        data-aos-duration="1000"
        data-aos-once="true"
        data-aos-order="1"
      >
        OUR COLLECTION
      </div>
      <div
        class="translate-up-20"
        class="x-text-[16px] x-italic"
        data-aos="fade-up"
        data-aos-duration="1000"
        data-aos-once="true"
        data-aos-order="2"
      >
        Plant Powered • Cruelty Free • Infinitely Recyclable
      </div>
    </div>
    <div
      class="translate-up-20"
      data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-once="true"
      data-aos-delay="300"
    >
      <a
        href="/pages/shop-all"
        class="x-text-lg x-text-black x-py-4 x-px-40 md:x-py-6 md:x-px-16 x-border-whie x-border-[1px] x-bg-transparent x-border-black x-uppercase hover:x-bg-black hover:x-text-white x-transition-colors x-duration-300"
      >
        SHOP NOW
      </a>
    </div>
  </div>

  <div class="featured-product-container">
    <div class="x-w-full md:x-grid x-flex md:x-grid-cols-3 lg:x-grid-cols-5 x-flex-row x-overflow-x-auto x-snap-x x-snap-mandatory x-overflow-hidden no-scrollbar">
        {%- assign delay = 0 -%}    
        {% for product in collections['home-featured'].products limit:5 %}
            <div
                data-aos="fade-in"
                data-aos-duration="800"
                data-aos-once="true"
                data-aos-delay="{{ delay }}"
                class="x-w-full x-aspect-square x-snap-start"
            >
                {% render 'custom-product-card', product: product %}
            </div>
            {%- assign delay = delay | plus: 100 -%}
        {% endfor %}
    </div>
  </div>
</div>
