<div>
  <div
    class="x-flex x-flex-col x-p-[16px] x-gap-[16px] md:x-gap-[50px] md:x-flex-row-reverse md:x-h-[600px] md:x-m-[50px]"
  >
    <div class="x-relative x-overflow-hidden x-h-[600px] x-w-full md:x-w-1/2 md:x-h-full">
      <div
        class="parallax-cta x-absolute x-inset-0 x-w-full x-h-[110%] x-bg-cover x-bg-center"
        style="background-image: url({{ 'img4.jpg' |  asset_img_url: '1000x1000' }});"
      >
        &nbsp;
      </div>
    </div>
    <div class="x-font-myriad-pro x-p-[16px] x-h-[200px] x-bg-[#1A483C] x-flex x-items-center md:x-w-1/2 md:x-h-full md:x-p-[50px]">
      <div class="x-flex x-flex-col x-gap-[10px] x-text-white">
        <div class="x-text-xl">Makeup Counter</div>
        <div class="x-text-4xl">Need help finding the perfect shade for your skintone?</div>
        <div class="x-text-lg x-w-[96%]">Email us at info@OfficialChloee.com or DM us on Instagram</div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('scroll', function () {
    const parallaxSections = document.querySelectorAll('.parallax-cta');
    parallaxSections.forEach((parallax) => {
      const speed = 0.2; // Adjust the speed for the desired parallax effect
      const initialOffset = 60; // Offset to move the image down initially
      const sectionTop = parallax.parentElement.offsetTop; // Get the top position of the parent element relative to the document
      const scrollPosition = window.scrollY;
      const windowHeight = window.innerHeight;

      // Check if the section is in the viewport
      if (
        scrollPosition + windowHeight > sectionTop &&
        scrollPosition < sectionTop + parallax.parentElement.offsetHeight
      ) {
        const yPos = (scrollPosition - sectionTop) * speed + initialOffset; // Apply the initial offset
        parallax.style.transform = `translateY(${yPos}px)`;
      }
    });
  });
</script>
