<div>
    <div>
        <div class="x-flex x-flex-col md:x-flex-row">
            <div class="x-relative x-overflow-hidden x-h-[700px] x-w-full md:x-w-1/2">
                <div class="parallax-i x-absolute x-inset-0 x-w-full x-h-[130%] x-bg-cover x-bg-center"
                    style="background-image: url({{ "asset1.webp" | asset_url }});">
                </div>
            </div>
            <div class="md:x-w-1/2 x-flex x-items-center">
                <div class="x-py-[26px] x-px-[16px] md:x-px-[50px] x-flex x-flex-col x-gap-[10px] md:x-gap-[16px]">
                    <div class="x-text-[24px] md:x-text-[26px] x-leading-[28px] md:x-leading-[34px]">Powerful
                        natural ingredients are the foundation of Mango People</div>
                    <div class="x-text-[12px] md:x-text-[14px]">Our evolved approach to makeup is reflected in our
                        commitment to use natural elements that
                        revitalize and elevate the skin, while adding rich and long-wearing pigments.</div>
                </div>
            </div>
        </div>

        <div>
            <div
                class="collapse x-py-[30px] x-px-[16px] md:x-px-[50px] x-mb-[16px] md:x-mb-[0px] lg:x-max-w-[1024px] lg:x-mx-auto">
                <input class="x-h-[0px] x-overflow-hidden x-absolute x-invisible" type="checkbox">
                <div class="x-border-t-[1px] x-border-b-[1px]">
                    <div class="x-flex x-flex-row x-justify-between x-py-[24px] x-items-center">
                        <div class="x-text-[16px]">INGREDIENT GLOSSARY</div>
                        <div class="collapse-sign x-flex x-justify-center x-items-center x-w-[16px] x-h-[16px]">
                            <div
                                class="x-absolute x-bg-black x-h-[16px] x-w-[1px] x-transition-transform x-duration-500 x-ease-in-out">
                            </div>
                            <div class="x-absolute x-bg-black x-w-[16px] x-h-[1px]">
                            </div>
                        </div>
                    </div>
                    <div class="collapse-content x-overflow-hidden x-transition-collapse x-duration-500 x-ease-in-out" style="height: 0px; margin: 0px 0px; ">
                        <div class="x-hidden md:x-grid x-grid-cols-2 x-gap-x-[5%] x-gap-y-[32px]">
                            <div>Lorem ipsum dolor sit amet consectetur...</div>
                            <div>Lorem ipsum dolor sit amet consectetur...</div>
                            <div>Lorem ipsum dolor sit amet consectetur...</div>
                            <div>Lorem ipsum dolor sit amet consectetur...</div>
                            <div>Lorem ipsum dolor sit amet consectetur...</div>
                            <div>Lorem ipsum dolor sit amet consectetur...</div> 
                        </div>
                        <div class="first-i-content-carousel md:x-hidden">
                            <div class="x-min-w-full x-snap-start">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit... Lorem ipsum dolor sit amet consectetur adipisicing elit... 
                                Lorem ipsum dolor sit amet consectetur adipisicing elit... Lorem ipsum dolor sit amet consectetur adipisicing elit... 
                                Lorem ipsum dolor sit amet consectetur adipisicing elit...
                            </div>
                            <div class="x-min-w-full x-snap-start">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit... Lorem ipsum dolor sit amet consectetur adipisicing elit... 
                                Lorem ipsum dolor sit amet consectetur adipisicing elit... Lorem ipsum dolor sit amet consectetur adipisicing elit... 
                                Lorem ipsum dolor sit amet consectetur adipisicing elit...
                            </div>
                            <div class="x-min-w-full x-snap-start">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit... Lorem ipsum dolor sit amet consectetur adipisicing elit... 
                                Lorem ipsum dolor sit amet consectetur adipisicing elit... Lorem ipsum dolor sit amet consectetur adipisicing elit... 
                                Lorem ipsum dolor sit amet consectetur adipisicing elit...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="x-flex x-flex-col md:x-flex-row-reverse">
            <div class="x-relative x-overflow-hidden x-h-[700px] x-w-full md:x-w-1/2">
                <div class="parallax-i x-absolute x-inset-0 x-w-full x-h-[130%] x-bg-cover x-bg-center"
                    style="background-image: url({{ "asset2.jpg" | asset_url }});">
                </div>
            </div>
            <div class="md:x-w-1/2 x-flex x-items-center x-bg-[#4D4032] x-text-white">
                <div class="x-py-[26px] x-px-[16px] md:x-px-[50px] x-flex x-flex-col x-gap-[10px] md:x-gap-[16px]">
                    <div class="x-text-[12px] md:x-text-[14px]">Ancient science for modern life</div>
                    <div class="x-text-[24px] md:x-text-[26px] x-leading-[28px] md:x-leading-[34px]">Adaptogens are
                        powerful healing plants and herbs used in Ayurvedic medicine for thousands of years</div>
                    <div class="x-text-[12px] md:x-text-[14px]">When consumed, they effectively help the body adapt
                        to stress and restore it to baseline. Directly applying adaptogens on skin, our largest
                        organ, can protect and calm the skin from external stress and exhaustion. All our products
                        are infused with the below adaptogen. </div>
                </div>
            </div>
        </div>

        <div>
        <div class="collapse x-py-[30px] x-px-[16px] md:x-px-[50px] x-mb-[16px] md:x-mb-[0px] lg:x-max-w-[1024px] lg:x-mx-auto">
        <input class="x-h-[0px] x-overflow-hidden x-absolute x-invisible" type="checkbox">
                <div class="x-border-t-[1px] x-border-b-[1px]">
                    <div class="x-flex x-flex-row x-justify-between x-py-[24px] x-items-center">
                    <div class="x-text-[16px]">LIST OF OUR ADAPTOGENS</div>
                    <div class="collapse-sign x-flex x-justify-center x-items-center x-w-[16px] x-h-[16px]">
                        <div class="x-absolute x-bg-black x-h-[16px] x-w-[1px] x-transition-transform x-duration-500 x-ease-in-out">
                        </div>
                        <div class="x-absolute x-bg-black x-w-[16px] x-h-[1px]">
                        </div>
                    </div>
                </div>
                    <div class="collapse-content x-overflow-hidden x-transition-collapse x-duration-500 x-ease-in-out" style="height: 0px; margin: 0px 0px; ">
                        <div class="x-hidden md:x-grid x-grid-cols-2 x-gap-x-[5%] x-gap-y-[32px]">
                            <div>Lorem ipsum dolor sit amet consectetur...</div>
                            <div>Lorem ipsum dolor sit amet consectetur...</div>
                            <div>Lorem ipsum dolor sit amet consectetur...</div>
                            <div>Lorem ipsum dolor sit amet consectetur...</div>
                            <div>Lorem ipsum dolor sit amet consectetur...</div>
                            <div>Lorem ipsum dolor sit amet consectetur...</div> 
                        </div>
                        <div class="second-i-content-carousel md:x-hidden">
                            <div class="x-min-w-full x-snap-start">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit... Lorem ipsum dolor sit amet consectetur adipisicing elit... 
                                Lorem ipsum dolor sit amet consectetur adipisicing elit... Lorem ipsum dolor sit amet consectetur adipisicing elit... 
                                Lorem ipsum dolor sit amet consectetur adipisicing elit...
                            </div>
                            <div class="x-min-w-full x-snap-start">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit... Lorem ipsum dolor sit amet consectetur adipisicing elit... 
                                Lorem ipsum dolor sit amet consectetur adipisicing elit... Lorem ipsum dolor sit amet consectetur adipisicing elit... 
                                Lorem ipsum dolor sit amet consectetur adipisicing elit...
                            </div>
                            <div class="x-min-w-full x-snap-start">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit... Lorem ipsum dolor sit amet consectetur adipisicing elit... 
                                Lorem ipsum dolor sit amet consectetur adipisicing elit... Lorem ipsum dolor sit amet consectetur adipisicing elit... 
                                Lorem ipsum dolor sit amet consectetur adipisicing elit...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        initializeFlickity();
        applyParallax();
        applyCollapse();
    });

    $(window).on('scroll', function () {
        applyParallax();
    });

    function applyCollapse() {
        $('.collapse').on('click', function () {
            // Find the nearest input checkbox
            const checkbox = $(this).find('input[type="checkbox"]');
            // Toggle the checkbox
            checkbox.prop('checked', !checkbox.prop('checked'));

            // Find the nearest collapse content
            const content = $(this).find('.collapse-content');

            // Find the nearest collapse sign and get the first child
            const sign = $(this).find('.collapse-sign').children().first();

            sign.css('transform', checkbox.prop('checked') ? 'rotate(90deg)' : 'rotate(0deg');
            content.css('height', checkbox.prop('checked') ? content.prop('scrollHeight') + 'px' : '0px');
            content.css('margin', checkbox.prop('checked') ? '16px 0px' : '0px 0px');
        });
    }

    function applyParallax() {
        $('.parallax-i').each(function () {
            const speed = 0.3; // Adjust the speed for the desired parallax effect
            const initialOffset = 0; // Offset to move the image down initially
            const sectionTop = $(this).parent().offset().top; // Get the top position of the parent element relative to the document
            const scrollPosition = $(window).scrollTop();
            const windowHeight = $(window).height();
            const sectionHeight = $(this).parent().outerHeight();

            // Check if the section is in the viewport
            if (scrollPosition + windowHeight > sectionTop && scrollPosition < sectionTop + sectionHeight) {
                const yPos = (scrollPosition - sectionTop) * speed + initialOffset; // Apply the initial offset
                $(this).css('transform', `translateY(${yPos}px)`);
            }
        });
    }

    function initializeFlickity(){
        let flkty = new Flickity('.first-i-content-carousel', {
            cellAlign: 'left',
            contain: true,
            pageDots: true,
            prevNextButtons: false
        });
        let flkty2 = new Flickity('.second-i-content-carousel', {
            cellAlign: 'left',
            contain: true,
            pageDots: true,
            prevNextButtons: false
        });
    }
</script>

<style>
    .first-i-content-carousel >.flickity-page-dots .dot, 
    .second-i-content-carousel >.flickity-page-dots .dot {
        width: 6px;
        height: 6px;
    }
    </style>
