{% assign product_handle = request.query.product_handle %}
<p>Loading snippet for product handle: {{ product_handle }}</p>
{% assign product = all_products[product_handle] %}

{% if product %}
  <p>Product found: {{ product.title }}</p>
  {% render 'custom-product-card', product: product %}
{% else %}
  <p>Product not found. Check the product handle or if the product exists in your store.</p>
{% endif %}
