<div class="x-bg-[#f9f8f4] x-font-myriad-pro">
    <div class="x-px-[16px] md:x-px-[24px] x-flex x-flex-col x-gap-[80px] x-py-[80px] lg:x-max-w-[1280px] lg:x-mx-auto">
        <div class="md:x-w-[95%] lg:x-w-[90%] md:x-mx-auto">
            <div class="x-border-l-[5px] x-border-[#242424] x-pl-[18px] x-leading-[22px] md:x-leading-[28px] x-text-[20px] md:x-text-[26px] translate-up-20"
                data-aos="fade-up" data-aos-duration="1000" data-aos-once="true" data-aos-delay="100">
                I HOPE FOR THE BRAND TO BE A PLACE FOR EQUAL REPRESENTATION, SUSTAINABILITY AND TRANSPARENCY WITHIN THE
                INDUSTRY
            </div>
        </div>
        <div class="x-flex x-flex-col md:x-flex-row x-gap-[80px] md:x-gap-[20px] lg:x-gap-[80px] ">
            <div class="x-px-[40px] md:x-px-[0px] md:x-py-[40px] md:x-w-1/2">
                <div class="x-relative x-overflow-hidden x-h-[400px] md:x-h-full lg:x-h-[600px] x-w-full"
                    data-aos="fade-in" data-aos-duration="1000" data-aos-once="true" data-aos-delay="200">
                    <div class="rellax x-absolute x-inset-0 x-w-full x-h-[130%] x-bg-cover x-bg-center"
                        data-rellax-speed="-6"    data-rellax-xs-speed="-2" data-rellax-percentage="0.5" style="background-image: url({{ "
                        founder_pholder.png" | asset_url }});">
                        &nbsp;
                    </div>
                </div>
            </div>
            <div class="x-flex x-flex-col x-gap-[10px] md:x-gap-[12px] x-text-[12px] md:x-text-[16px] x-italic x-leading-[16px] md:x-leading-[20px] md:x-w-1/2 md:x-p-[32px] lg:x-p-[0px] lg:x-my-auto translate-up-20"
                data-aos="fade-up" data-aos-duration="1000" data-aos-once="true" data-aos-delay="300">
                <p>
                    I always pay close attention to what I eat such as choosing organic and plant-based foods since both
                    of my kids are in spectrum. I focus not just on their diets, but also on the products we use for our
                    skin.
                </p>
                <p>
                    My journey into organic skincare formulation began with a simple class. It was the same year I
                    revisited my birth country, reconnecting with high school friends and witnessing firsthand the
                    prevalent trend of white skin products. During a beach outing with a friend who was using these
                    products, I observed her face becoming increasingly red as the sun blazed down.
                </p>
                <p>
                    Feeling concerned, I offered her additional sunscreen and my own hat, hoping to provide some relief.
                    Later that morning, I shared my hand crafted after-sun oil, a blend of soothing organic ingredients
                    I had crafted in my class. To my amazement, as hours passed, the redness began to fade. I thought to
                    myself, “this can’t be real.”
                    Determined to see if it was just a fluke, the next day. I repeated the process and captured the
                    results in photos. The transformation was remarkable—my after-sun oil was working wonders. The
                    organic carrier oils I had used truly made a difference.
                </p>
                <p>
                    That experience marked a pivotal moment in my journey. It sparked my passion for creating effective
                    formulations along with research of natural skincare solutions that deliver tangible benefits. I
                    recognized that my mission was to develop skincare products that harness the power of natural
                    ingredients derived from plants.
                </p>
                <p>Jenelyn Boyer, Founder</p>
            </div>
        </div>
    </div>
</div>

<script>
    // $(document).ready(function () {
    //   // Trigger the scroll event on page load to ensure the parallax is applied from the start
    //   applyParallax();
    // });

    // $(window).on('scroll', function () {
    //   applyParallax();
    // });

    // function applyParallax() {
    //   $('.parallax-os').each(function () {
    //     const speed = 0.3; // Adjust the speed for the desired parallax effect
    //     const initialOffset = 0; // Offset to move the image down initially
    //     const sectionTop = $(this).parent().offset().top; // Get the top position of the parent element relative to the document
    //     const scrollPosition = $(window).scrollTop();
    //     const windowHeight = $(window).height();
    //     const sectionHeight = $(this).parent().outerHeight();

    //     // Check if the section is in the viewport
    //     if (scrollPosition + windowHeight > sectionTop && scrollPosition < sectionTop + sectionHeight) {
    //       const yPos = (scrollPosition - sectionTop) * speed + initialOffset; // Apply the initial offset
    //       $(this).css('transform', `translateY(${yPos}px)`);
    //     }
    //   });
    // }
</script>