<div class="x-bg-[#215033] x-font-minion-pro-display">
    <div class="x-px-[16px] md:x-px-[24px] x-flex x-flex-col x-gap-[80px] x-py-[80px] lg:x-max-w-[1280px] lg:x-mx-auto">
        <div class="md:x-w-[95%] lg:x-w-[90%] md:x-mx-auto">
            <div class="x-border-l-[5px] x-border-white x-text-white x-pl-[18px] x-flex x-flex-col x-gap-[10px] md:x-gap-[16px] x-text-[16px] md:x-text-[24px] x-leading-[24px] md:x-leading-[32px] translate-up-20"
                data-aos="fade-up" data-aos-duration="1000" data-aos-once="true" data-aos-delay="100">
                <div class="x-font-amandine x-font-bold">To my dear heart Chloee,</div>
                <div>
                    This brand reflects everything that makes you, <i>you</i>. </br>
                    Your simplicity yet elegance, boldness of kindness </br>
                    that embodies what we truly stand for. We hope for </br>
                    this brand to strive build a space of inclusion and </br>
                    equal representation for all. 
                </div>
                <div></div>
            </div>
        </div>
        <div class="x-flex x-flex-col md:x-flex-row x-gap-[80px] md:x-gap-[20px] lg:x-gap-[80px] ">
            <div class="x-px-[40px] md:x-px-[0px] md:x-py-[40px] md:x-w-1/2">
                <div class="x-relative x-overflow-hidden x-h-[400px] md:x-h-full lg:x-h-[600px] x-w-full"
                    data-aos="fade-in" data-aos-duration="1000" data-aos-once="true" data-aos-delay="200">
                    <div class="rellax x-absolute x-inset-0 x-w-full x-h-[130%] x-bg-cover x-bg-center"
                        data-rellax-speed="-5" data-rellax-mobile-speed="-2" data-rellax-percentage="0.5"
                        style="background-image: url({{ 'placeholder.jpg' |  asset_img_url: "1000x1000" }});">
                        {% comment %} style="background-image: url({{ " founder_pholder.png" | asset_url }});"> {% endcomment %}
                        &nbsp;
                    </div>
                </div>
            </div>
            <div class="x-flex x-flex-col x-gap-[10px] md:x-gap-[12px] x-text-[12px] md:x-text-[20px] x-leading-[16px] md:x-leading-[24px] md:x-w-1/2 md:x-p-[32px] lg:x-p-[0px] lg:x-my-auto translate-up-20"
                data-aos="fade-up" data-aos-duration="1000" data-aos-once="true" data-aos-delay="300">
                <p class="x-text-white">
                    I’ve always been mindful of what I feed my family—choosing organic foods whenever possible. But I soon realized that what we put on our skin matters just as much. 
                </p>
                <p class="x-text-white">
                    My journey into clean skincare began with a simple class, but it truly took shape during a trip back to my birth country. While reconnecting with old friends, I witnessed the widespread use of whitening products, which led to a powerful, eye-opening moment.
                </p>
                <p class="x-text-white">
                    One day, at the beach with a friend who was using one of these products, I noticed her face turning bright red under the sun. Feeling concerned, I offered her more sunscreen and my hat. Later that day, I offered my homemade botanical oil crafted from organic ingredients that I had learned to blend in class. Within hours, the redness faded. I was thinking like, “This can’t be real.”  Determined to see if it was a fluke. I repeated the process the next day. 
                </p>
                <p class="x-text-white">
                    The results were clear, the botanical oils were making a real difference. This experience ignited my passion for creating a skincare brand that was not only effective but also clean. I dove deeper into research, learning more about plant-based ingredients. 
                </p>
                <p class="x-text-white">
                    Beyond our product, I hope for the brand to be a place for an equal representation and strive to build a space where everyone feels included.
                </p>
                <p class="x-text-white">Jenelyn Boyer, Founder</p>
            </div>
        </div>
    </div>
</div>

<script>
    // $(document).ready(function () {
    //   // Trigger the scroll event on page load to ensure the parallax is applied from the start
    //   applyParallax();
    // });

    // $(window).on('scroll', function () {
    //   applyParallax();
    // });

    // function applyParallax() {
    //   $('.parallax-os').each(function () {
    //     const speed = 0.3; // Adjust the speed for the desired parallax effect
    //     const initialOffset = 0; // Offset to move the image down initially
    //     const sectionTop = $(this).parent().offset().top; // Get the top position of the parent element relative to the document
    //     const scrollPosition = $(window).scrollTop();
    //     const windowHeight = $(window).height();
    //     const sectionHeight = $(this).parent().outerHeight();

    //     // Check if the section is in the viewport
    //     if (scrollPosition + windowHeight > sectionTop && scrollPosition < sectionTop + sectionHeight) {
    //       const yPos = (scrollPosition - sectionTop) * speed + initialOffset; // Apply the initial offset
    //       $(this).css('transform', `translateY(${yPos}px)`);
    //     }
    //   });
    // }
</script>