<section>
    <div>
        <div class="x-relative x-overflow-hidden x-h-[100px] x-w-full x-flex x-justify-center">
            <div class="x-w-full x-h-full x-relative x-flex x-items-center x-justify-center x-bg-[#215033]">
                <div class="x-text-[32px] md:x-text-[36px] x-leading-[36px] x-text-white x-text-center x-font-medium">
                    FAQS</div>
            </div>
        </div>
    </div>
</section>

<section class="x-font-myriad-pro">
    <div class="x-py-[50px] x-max-w-[670px] x-mx-auto">
        <div class="x-px-[16px] md:x-px-[50px] x-pb-[40px] x-text-[20px]">PRODUCTS & INGREDIENTS</div>
        <div
            class="collapse product-ingredients x-px-[16px] md:x-px-[50px] md:x-mb-[0px] lg:x-max-w-[1440px] lg:x-mx-auto">
            <input class="x-h-[0px] x-overflow-hidden x-absolute x-invisible" type="checkbox">
            <div class="x-border-t-[1px] x-border-b-[1px]">
                <div class="x-flex x-flex-row x-justify-between x-py-[24px] x-items-center">
                    <div class="x-text-[16px]">Are your products clean?</div>
                    <div class="collapse-sign x-flex x-justify-center x-items-center x-w-[16px] x-h-[16px]">
                        <div
                            class="x-absolute x-bg-black x-h-[16px] x-w-[1px] x-transition-transform x-duration-500 x-ease-in-out">
                            &nbsp;
                        </div>
                        <div class="x-absolute x-bg-black x-w-[16px] x-h-[1px]">&nbsp;</div>
                    </div>
                </div>
                <div class="collapse-content x-overflow-hidden x-transition-collapse x-duration-500 x-ease-in-out"
                    style="height: 0px; margin: 0px 0px;">
                    <div class="x-text-[12px]">
                        <div>
                            While there are no clear and regulated definitions of the term "clean", at OfficialChloee,
                            we define our
                            clean beauty philosophy as consciously developing high performing products, that are safe
                            for your skin
                            and planet.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="collapse product-ingredients x-px-[16px] md:x-px-[50px] md:x-mb-[0px] lg:x-max-w-[1440px] lg:x-mx-auto">
            <input class="x-h-[0px] x-overflow-hidden x-absolute x-invisible" type="checkbox">
            <div class="x-border-t-[1px] x-border-b-[1px]">
                <div class="x-flex x-flex-row x-justify-between x-py-[24px] x-items-center">
                    <div class="x-text-[16px]">Where can I find the complete ingredients list?</div>
                    <div class="collapse-sign x-flex x-justify-center x-items-center x-w-[16px] x-h-[16px]">
                        <div
                            class="x-absolute x-bg-black x-h-[16px] x-w-[1px] x-transition-transform x-duration-500 x-ease-in-out">
                            &nbsp;
                        </div>
                        <div class="x-absolute x-bg-black x-w-[16px] x-h-[1px]">&nbsp;</div>
                    </div>
                </div>
                <div class="collapse-content x-overflow-hidden x-transition-collapse x-duration-500 x-ease-in-out"
                    style="height: 0px; margin: 0px 0px;">
                    <div class="x-text-[12px] x-flex x-flex-col x-gap-[7px]">
                        <div>
                            At Official Chloee, we strive for transparency. To view our complete ingredients list,
                            select a product
                            you're interested in and below the description you will find the
                            <span class="x-italic x-font-semibold">"View Ingredients"</span> link.
                        </div>
                        <div>
                            You can also find more in-depth ingredient descriptions on our
                            <a href="/pages/ingredients" class="x-italic x-font-semibold">Ingredients</a> page on our
                            website.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="collapse product-ingredients x-px-[16px] md:x-px-[50px] md:x-mb-[0px] lg:x-max-w-[1440px] lg:x-mx-auto">
            <input class="x-h-[0px] x-overflow-hidden x-absolute x-invisible" type="checkbox">
            <div class="x-border-t-[1px] x-border-b-[1px]">
                <div class="x-flex x-flex-row x-justify-between x-py-[24px] x-items-center">
                    <div class="x-text-[16px]">Are your products vegan and cruelty-free?</div>
                    <div class="collapse-sign x-flex x-justify-center x-items-center x-w-[16px] x-h-[16px]">
                        <div
                            class="x-absolute x-bg-black x-h-[16px] x-w-[1px] x-transition-transform x-duration-500 x-ease-in-out">
                            &nbsp;
                        </div>
                        <div class="x-absolute x-bg-black x-w-[16px] x-h-[1px]">&nbsp;</div>
                    </div>
                </div>
                <div class="collapse-content x-overflow-hidden x-transition-collapse x-duration-500 x-ease-in-out"
                    style="height: 0px; margin: 0px 0px;">
                    <div class="x-text-[12px]">
                        <div>
                            We are proudly vegan and cruelty-free. Our products are not tested on animals, and we do not
                            use any
                            animal-derived ingredients.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% comment %} <div
            class="collapse product-ingredients x-px-[16px] md:x-px-[50px] md:x-mb-[0px] lg:x-max-w-[1440px] lg:x-mx-auto">
            <input class="x-h-[0px] x-overflow-hidden x-absolute x-invisible" type="checkbox">
            <div class="x-border-t-[1px] x-border-b-[1px]">
                <div class="x-flex x-flex-row x-justify-between x-py-[24px] x-items-center">
                    <div class="x-text-[16px]">I don't know what shades to get?</div>
                    <div class="collapse-sign x-flex x-justify-center x-items-center x-w-[16px] x-h-[16px]">
                        <div
                            class="x-absolute x-bg-black x-h-[16px] x-w-[1px] x-transition-transform x-duration-500 x-ease-in-out">
                            &nbsp;
                        </div>
                        <div class="x-absolute x-bg-black x-w-[16px] x-h-[1px]">&nbsp;</div>
                    </div>
                </div>
                <div class="collapse-content x-overflow-hidden x-transition-collapse x-duration-500 x-ease-in-out"
                    style="height: 0px; margin: 0px 0px;">
                    <div class="x-text-[12px] x-flex x-flex-col x-gap-[7px]">
                        <div>
                            We are more than happy to help you find the perfect shades for your skintone. You can DM us
                            on Instagram
                            or email us at info@officialchloee.com, and we will assist you from there.
                        </div>
                        <div>We've helped thousands of customers, so we assure you that you're in great hands!</div>
                    </div>
                </div>
            </div>
        </div> {% endcomment %}
    </div>
</section>

<section class="x-bg-[#FAFAFA] x-font-myriad-pro">
    <div class="x-py-[50px] x-max-w-[670px] x-mx-auto">
        <div class="x-px-[16px] md:x-px-[50px] x-pb-[40px] x-text-[20px]">SHIPPING & RETURNS</div>
        <div
            class="collapse shipping-returns x-px-[16px] md:x-px-[50px] md:x-mb-[0px] lg:x-max-w-[1440px] lg:x-mx-auto">
            <input class="x-h-[0px] x-overflow-hidden x-absolute x-invisible" type="checkbox">
            <div class="x-border-t-[1px] x-border-b-[1px]">
                <div class="x-flex x-flex-row x-justify-between x-py-[24px] x-items-center">
                    <div class="x-text-[16px]">Do you ship internationally?</div>
                    <div class="collapse-sign x-flex x-justify-center x-items-center x-w-[16px] x-h-[16px]">
                        <div
                            class="x-absolute x-bg-black x-h-[16px] x-w-[1px] x-transition-transform x-duration-500 x-ease-in-out">
                            &nbsp;
                        </div>
                        <div class="x-absolute x-bg-black x-w-[16px] x-h-[1px]">&nbsp;</div>
                    </div>
                </div>
                <div class="collapse-content x-overflow-hidden x-transition-collapse x-duration-500 x-ease-in-out"
                    style="height: 0px; margin: 0px 0px;">
                    <div class="x-text-[12px]">
                        <div>
                            At the moment, we are only shipping within US and Canada.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="collapse shipping-returns x-px-[16px] md:x-px-[50px] md:x-mb-[0px] lg:x-max-w-[1440px] lg:x-mx-auto">
            <input class="x-h-[0px] x-overflow-hidden x-absolute x-invisible" type="checkbox">
            <div class="x-border-t-[1px] x-border-b-[1px]">
                <div class="x-flex x-flex-row x-justify-between x-py-[24px] x-items-center">
                    <div class="x-text-[16px]">How long will it take to process my order?</div>
                    <div class="collapse-sign x-flex x-justify-center x-items-center x-w-[16px] x-h-[16px]">
                        <div
                            class="x-absolute x-bg-black x-h-[16px] x-w-[1px] x-transition-transform x-duration-500 x-ease-in-out">
                            &nbsp;
                        </div>
                        <div class="x-absolute x-bg-black x-w-[16px] x-h-[1px]">&nbsp;</div>
                    </div>
                </div>
                <div class="collapse-content x-overflow-hidden x-transition-collapse x-duration-500 x-ease-in-out"
                    style="height: 0px; margin: 0px 0px;">
                    <div class="x-text-[12px] x-flex x-flex-col x-gap-[7px]">
                        <div>
                            We aim to process, package and ship your order within 1-2 business days. However, during
                            peak season,
                            processing can take 3-5 business days.
                        </div>
                        <div>Tracking numbers are automatically sent to your email as soon as your order is shipped.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="collapse shipping-returns x-px-[16px] md:x-px-[50px] md:x-mb-[0px] lg:x-max-w-[1440px] lg:x-mx-auto">
            <input class="x-h-[0px] x-overflow-hidden x-absolute x-invisible" type="checkbox">
            <div class="x-border-t-[1px] x-border-b-[1px]">
                <div class="x-flex x-flex-row x-justify-between x-py-[24px] x-items-center">
                    <div class="x-text-[16px]">How long will it take for my package to arrive once shipped?</div>
                    <div class="collapse-sign x-flex x-justify-center x-items-center x-w-[16px] x-h-[16px]">
                        <div
                            class="x-absolute x-bg-black x-h-[16px] x-w-[1px] x-transition-transform x-duration-500 x-ease-in-out">
                            &nbsp;
                        </div>
                        <div class="x-absolute x-bg-black x-w-[16px] x-h-[1px]">&nbsp;</div>
                    </div>
                </div>
                <div class="collapse-content x-overflow-hidden x-transition-collapse x-duration-500 x-ease-in-out"
                    style="height: 0px; margin: 0px 0px;">
                    <div class="x-text-[12px] x-flex x-flex-col x-gap-[7px]">
                        <div>
                            <span class="x-font-semibold">US Shipping</span>: Standard shipping with USPS takes 3-5
                            business days
                            after processing. With Express shipping, your order will arrive 1-2 buisiness days.
                        </div>
                        <div>
                            <span class="x-font-semibold">Canada Shipping</span>: With USPS/ Canada Post, your order
                            will arrive 7-21
                            business days after processing.
                        </div>
                        <div>
                            While we do all we can to ensure your order is delivered on time, we cannot be held
                            responsible for any
                            late delivery, as we have no control once the package leaves our facility and with the
                            postal service.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="collapse shipping-returns x-px-[16px] md:x-px-[50px] md:x-mb-[0px] lg:x-max-w-[1440px] lg:x-mx-auto">
            <input class="x-h-[0px] x-overflow-hidden x-absolute x-invisible" type="checkbox">
            <div class="x-border-t-[1px] x-border-b-[1px]">
                <div class="x-flex x-flex-row x-justify-between x-py-[24px] x-items-center">
                    <div class="x-text-[16px]">What is your return policy ?</div>
                    <div class="collapse-sign x-flex x-justify-center x-items-center x-w-[16px] x-h-[16px]">
                        <div
                            class="x-absolute x-bg-black x-h-[16px] x-w-[1px] x-transition-transform x-duration-500 x-ease-in-out">
                            &nbsp;
                        </div>
                        <div class="x-absolute x-bg-black x-w-[16px] x-h-[1px]">&nbsp;</div>
                    </div>
                </div>
                <div class="collapse-content x-overflow-hidden x-transition-collapse x-duration-500 x-ease-in-out"
                    style="height: 0px; margin: 0px 0px;">
                    <div class="x-text-[12px] x-flex x-flex-col x-gap-[7px]">
                        <div>
                            <span class="x-font-semibold">USA</span> - Returns and exchanges are accepted within 14 days
                            of delivery.
                            If you didn't enjoy our products, you can email us at info@officialchloee.com for a
                            refund/exchange.
                        </div>
                        <div>
                            Kindly note, we are unable to refund the initial shipping cost and the return shipping label
                            fee will be
                            deducted from your refund.
                        </div>
                        <div>
                            <span class="x-font-semibold">CANADA</span> - Unfortunately, we are unable to accept returns
                            & exchanges
                            for international orders at this time.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        // applyParallax();
        applyCollapse('.collapse.product-ingredients');
        applyCollapse('.collapse.shipping-returns');
    });

    // $(window).on('scroll', function () {
    //   applyParallax();
    // });

    // function applyParallax() {
    //   $('.parallax-s').each(function () {
    //     const speed = 0.15; // Adjust the speed for the desired parallax effect
    //     const initialOffset = 0; // Offset to move the image down initially
    //     const sectionTop = $(this).parent().offset().top; // Get the top position of the parent element relative to the document
    //     const scrollPosition = $(window).scrollTop();
    //     const windowHeight = $(window).height();
    //     const sectionHeight = $(this).parent().outerHeight();

    //     // Check if the section is in the viewport
    //     if (scrollPosition + windowHeight > sectionTop && scrollPosition < sectionTop + sectionHeight) {
    //       const yPos = (scrollPosition - sectionTop) * speed + initialOffset; // Apply the initial offset
    //       $(this).css('transform', `translateY(${yPos}px)`);
    //     }
    //   });
    // }

    function applyCollapse(groupClass) {
        $(groupClass).on('click', function () {
            function toggleCollapse(element, shouldOpen) {
                const checkbox = element.find('input[type="checkbox"]');
                const content = element.find('.collapse-content');
                const sign = element.find('.collapse-sign').children().first();

                checkbox.prop('checked', shouldOpen);
                sign.css('transform', shouldOpen ? 'rotate(90deg)' : 'rotate(0deg)');
                content.css({
                    height: shouldOpen ? content.prop('scrollHeight') + 'px' : '0px',
                    margin: shouldOpen ? '16px 0px' : '0px 0px',
                });
            }

            $(groupClass).each(function () {
                if (this !== event.currentTarget) {
                    toggleCollapse($(this), false);
                }
            });

            const isChecked = $(this).find('input[type="checkbox"]').prop('checked');
            toggleCollapse($(this), !isChecked);
        });
    }
</script>