<div>
    <div>
        <div>
            <div class="x-flex x-flex-col x-font-myriad-pro">
                <div class="x-flex x-flex-col md:x-flex-row">
                    <div class="x-w-full x-aspect-square x-border x-border-[#e5e7eb]" style='background-image: url({{ 'placeholder.jpg' |  asset_img_url: "1000x1000" }}); background-size: cover; background-position: center;'>
                        &nbsp;
                    </div>
                    <div class="x-w-full x-aspect-square x-border x-border-[#e5e7eb]" style='background-image: url({{ 'placeholder.jpg' |  asset_img_url: "1000x1000" }}); background-size: cover; background-position: center;'>
                        &nbsp;
                    </div>
                    <div class="x-w-full x-aspect-square x-border x-border-[#e5e7eb]" style='background-image: url({{ 'placeholder.jpg' |  asset_img_url: "1000x1000" }}); background-size: cover; background-position: center;'>
                        &nbsp;
                    </div>
                </div>
                <div class="x-bg-[#215033] x-text-white x-text-center md:x-text-start x-py-[48px] md:x-px-[48px] lg:x-px-[96px] lg:x-py-[64px]">
                    <div class="x-text-[28px] md:x-text-[40px] x-font-garamond-premier-pro">
                        Glow Naturally
                    </div>
                    <div class="x-text-[20px] md:x-text-[32px] x-font-garamond-premier-pro-display x-italic">
                        Powered by Plants
                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <div class="x-flex x-flex-col md:x-grid md:x-grid-cols-4">
                {%- assign delay = 0 -%}
                {% for product in collection.products %}
                <div data-aos="fade-in" data-aos-duration="800" data-aos-once="true" data-aos-delay="{{ delay }}"
                    class="x-w-full x-aspect-square x-snap-start">
                    {% render 'custom-product-card', product: product %}
                </div>
                {%- assign delay = delay | plus: 100 -%}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<style>
    @keyframes scrollleft {
        to {
            left: -180px;
        }
    }

    .item {
        left: max(calc(200px * 8), 100%);
        animation-name: scrollleft;
        animation-duration: 30s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    .wrapper:hover .item {
        animation-play-state: paused;
    }

    .item-1 {
        animation-delay: calc(30s / 8 * (8 - 1) * -1);
    }

    .item-2 {
        animation-delay: calc(30s / 8 * (8 - 2) * -1);
    }

    .item-3 {
        animation-delay: calc(30s / 8 * (8 - 3) * -1);
    }

    .item-4 {
        animation-delay: calc(30s / 8 * (8 - 4) * -1);
    }

    .item-5 {
        animation-delay: calc(30s / 8 * (8 - 5) * -1);
    }

    .item-6 {
        animation-delay: calc(30s / 8 * (8 - 6) * -1);
    }

    .item-7 {
        animation-delay: calc(30s / 8 * (8 - 7) * -1);
    }

    .item-8 {
        animation-delay: calc(30s / 8 * (8 - 8) * -1);
    }
</style>