<section class="x-p-[16px] x-py-[64px] md:x-p-[50px] x-h-full x-bg-[#215033] x-text-white">
    <div>
        <div class="x-flex x-flex-col x-gap-[64px] x-text-[14px] lg:x-text-[18px] lg:x-leading-[28px] x-leading-[20px] x-text-white x-text-start"
            data-aos="fade-up" data-aos-duration="1000" data-aos-once="true" data-aos-delay="300">
            <div class="md:x-w-2/3 lg:x-w-1/4 md:x-mx-auto">
                <p>
                    We are committed to creating a conscious Plant-Based skin care
                    formula. Clean and effective from nature’s purest ingredients while 
                    staying commited to sustanaibility. 
                </p>
            </div>
            <div class="x-flex x-flex-col x-gap-[36px] md:x-w-2/3 lg:x-w-1/4 md:x-mx-auto">
                <h1 class="x-text-white x-text-[22px] lg:x-text-[26px] x-text-center">PRIMARY PACKAGING</h1>
                <p>
                    Most of our packaging is designed with sustainability in mind, 
                    environmental responsibility, and recycling innovation through 
                    plant-based materials like sugar cane and corn. We are dedicated 
                    to working with our trusted partners, experts in developing and 
                    implementing product life cycles that are gentle on both our skin 
                    and the planet.
                </p>
            </div>
            <div class="x-flex x-flex-col x-gap-[36px] md:x-w-2/3 lg:x-w-1/4 md:x-mx-auto">
                <h1 class="x-text-white x-text-[22px] lg:x-text-[26px] x-text-center">HONORING NEURODIVERSITY</h1>
                <div class="x-flex x-items-center x-justify-center">
                    <div class="x-w-[96px]">
                        {% render 'puzzle-piece' %}
                    </div>
                </div>
                <p>
                    1% of our sales will be donated to neurodiverse communities, 
                    helping provide basic classroom supplies for disadvantage areas.
                </p>
            </div>
            <div class="md:x-w-5/6 lg:x-w-3/6 md:x-mx-auto x-pt-[56px]">
                <p class="x-text-center">
                    We are human, we're not perfect but we always striving to improve and constantly researching, seeking better solutions.
                    Your feedback is valuable to us, If you have any suggestions on ways we can improve please reach out, we'd love to hear from you at </br>
                    info@officialchloee.com
                </p>
            </div>
        </div>
    </div>
</section>